---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import database from '../database';

import { sortPosts } from '../utils'

const posts = sortPosts((await getCollection('blog')))
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, FE er!</h1>
			<p>
				记录一些前端开发中的知识点，以及一些有趣的东西。
			</p>
			<h2 class="header">最新的文章</h2>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.slug}`}>{post.data.title}</a>
						</li>
					))
				}
			</ul>
			<h2 class="header">深度好文</h2>
			<ul>
				{
					database.collection.map((post) => (
						<li>
							<a href={`${post.url}`} target="_blank">{post.title}</a>
							<span>{post.desc}</span>
							<FormattedDate date={new Date(post.date)} />
							
						</li>
					))
				}
			</ul>
			<h2 class="header">周刊推荐</h2>
			<ul>
				{
					database.weekly.map((post) => (
						<li>
							<a href={`${post.url}`} target="_blank">{post.title}</a>
						</li>
					))
				}
			</ul>
		</main>
	</body>
</html>
