---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, FE er!</h1>
			<p>
				记录一些前端开发中的知识点，以及一些有趣的东西。
			</p>
			<h2 class="header">最新的文章</h2>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.slug}`}>{post.data.title}</a>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
