---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Menu from '../components/Menu.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
			.markdown-body {
				position: relative;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<h1>{title}</h1>
				{heroImage && <img width={720} height={280} src={heroImage} alt="" />}
				<h2>{description}</h2>
				<Menu />
				<slot />
			</article>
		</main>
	</body>
</html>
